Pillow
langchain-community
streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb==0.3.26
faiss-cpu
langchain-google-genai
crewai==0.22.2
SpeechRecognition
httpx<0.28.0,>=0.23.0
tiktok>=0.7.0
sqlite3>=3.35.0
